<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
====================================================================================================
START: Overview
====================================================================================================

This pill will demonstrate how to create a starting condition for a bundle. The start condition will
prevent the execution of the bundle if the condition is not fulfilled.

NEXT: Bundle.wxs (DOWN)
-->

<!--
====================================================================================================
Step 1: Create a new bundle project
====================================================================================================

- Right click on the bundle project in Solution Explorer -> Add -> Reference... -> Browse ->
  Select the dll file. It can be found in the WiX Toolset installation directory:
  "C:\Program Files (x86)\WiX Toolset v3.11\bin\\WixBalExtension.dll" -> Add -> OK

NEXT: Bundle.wxs (DOWN)
-->

<!--
====================================================================================================
Step 2: Add the WiX Bal extension
====================================================================================================

- Right click on the bundle project in Solution Explorer -> Add -> Reference... -> Browse ->
  Select the dll file. It can be found in the WiX Toolset installation directory:
  "C:\Program Files (x86)\WiX Toolset v3.11\bin\\WixBalExtension.dll" -> Add -> OK

NEXT: Bundle.wxs (DOWN)
-->

<!--
====================================================================================================
Step 3: Add the bal namespace
====================================================================================================

The "bal" namespace is also needed to be specified on the <Wix> element:

NEXT: Bundle.wxs (DOWN)
-->

<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

    <Bundle
        Name="Bundle with Start Condition"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="e57e5cb9-ab90-475c-b757-1b2cc26df1d2">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

        <!--
        ====================================================================================================
        Step 5: Create the condition
        ====================================================================================================
        
        In this example, the condition is based on the "AllowToInstall" 
        If the "AllowToInstall" variable is "no", the condition evaluates to false, and the bundle will
        display the error message specified by the "Message" attribute.
        
        NEXT: install-not-allowed.bat
        -->

        <bal:Condition Message="Sorry, you are not allowed to install the bundle.">
            <![CDATA[AllowToInstall = "yes"]]>
        </bal:Condition>

        <!--
        ====================================================================================================
        Step 4: Create the "AllowToInstall" variable
        ====================================================================================================
            
        This variable will control if the bundle is allowed to be installed or not.
        The attribute bal:Overridable="yes" is needed in order to make the variable public and accept to be
        set from command line.
        
        NEXT: Bundle.wxs (UP)
        -->
        <Variable
            Name="AllowToInstall"
            Type="string"
            Value="yes"
            Persisted="no"
            bal:Overridable="yes" />

        <Chain>
            <MsiPackage SourceFile="$(var.Installer1.TargetDir)$(var.Installer1.TargetName).msi" />
            <MsiPackage SourceFile="$(var.Installer2.TargetDir)$(var.Installer2.TargetName).msi" />
        </Chain>

    </Bundle>

</Wix>